# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
venv/

# Environment variables
.env

# Django
*.sqlite3
src/staticfiles/
src/media/

# IDE
.idea/
.vscode/
*.swp

# Coverage
htmlcov/
.coverage
